# Generic Racket gitignore file
# Source: https://www.toptal.com/developers/gitignore?templates=racket

# DrRacket autosave files
*.rkt~
*.rkt.bak
\#*.rkt#
\#*.rkt#*#

*.scrbl~
*.scrbl.bak
\#*.scrbl#
\#*.scrbl#*#

# Compiled racket bytecode
compiled/
*.zo
doc/

# Dependency tracking files
*.dep

# Files specific to this project
api-keys.rkt
main_.rkt
LICENSE-*
